



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 400;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }

  li {
    display: list-item;
}

  .navbar {
    height: 6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center {
    width: 90vw;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.nav-link {
    margin-right: 10rem;
    letter-spacing: 0.2rem;
    font-size: 1.25rem;
    color: var(--clr-grey-1);
}

.line {
    border-left: 3px solid black;
    position: relative;
    right: 70px;
}


.products {
    width: 90vw;
    display: grid;
    grid-gap: 1rem;
    margin: 4rem auto;
    max-width: 85%;
    position: relative;
    grid-template-columns: 200px 1fr;
}


.products-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.product { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.product-img {
  height: 35%;
  width: 300px
}




  .product-icons {
    margin-right: 2%;
    text-align: center;
    margin-bottom: 0;
    color: rgb(92, 81, 81);
    font-weight: 700;
  }


  .product footer {
    padding: 0.75rem 0;
    text-align: center;
  }

  .product-name {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: rgb(107, 99, 99);
    font-size: 1.2em;;
  }

.product-price {
    margin-bottom: 0.5rem;
    color: rgb(92, 88, 88);
    font-weight: 500;
}

  .shops-list {
    font-weight: 500;
    margin: 2rem 0 2.5rem;
    line-height: 1;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }


  .button-good {
    margin-top: 3%;
    bottom: 10px;
    color: #3a8014;
    font-size: 16px;
    font-family: cursive;
    cursor: pointer;
}
  

.filter-btn {
    display: block;
    margin-top: 1.5rem;
    padding: 0.25rem;
    text-transform: capitalize;
    background: transparent;
    border-color: transparent;
    letter-spacing: 0.1rem;
    color: rgb(110, 98, 98);
    cursor: pointer;
    transition: margin-right 2s;
}








.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  
  .content {
    width: 40%;
    justify-content: space-between;
    margin-left: 50px;
    background: #fff;
    padding: 40px;
    border-radius: 1px;
  }
  

  

  
  
  .topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  

  
  .topic-text {
    margin-left: 6%;
    margin-bottom: 7%;
    bottom: 10px;
    color: #3a8014;
    font-size: 1.5rem;
  }
  

  
  .input-box {
    height: 50px;
    width: 90%;
    margin-bottom: 30px;
  }
  
  .input-box input,
  .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #dadbe2;
    padding: 0 20px;
  }
  
  .input-box textarea {
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .message-box {
    min-height: 110px;
  }
  
  .button {
    display: flex;
  }
  
  .button [type="submit"] {
    margin-top: 10%;
    margin-left: 35%;
    color: #fff;
    font-size: 18px;
    background: #3a8014;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .button [type="submit"]:hover {
    background: #376122;
  }
  

  
  @media (max-width: 800px) {
    .content {
      height: 100%;
      flex-direction: column-reverse;
    }

    .details {
      margin-right: 20px;
    }
    .details:last-child {
      margin-right: 0;
    }
    .right-side {
      width: 100%;
      margin-left: 0;
    }
  }


.basket {
    width: 40%;
    background: #fff;
    padding: 1%;

}


.basket-container {
    width: 60%;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 1px;
}


.basket-text {
    margin-left: 56%;
    bottom: 10px;
    color: #3a8014;
    font-size: 1.7rem;
}


.cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 3rem;
    align-items: center;
  opacity: 0;
  }

  .cart-item.show {
    opacity: 1;
    z-index: 100;
  }

  .cart-item-img {
    width: 85%;
    height: 85%;
  } 

  .basket article {
    display: flex;
  }


  .cart-item-name {
    margin-bottom: 0.15rem;
  }
  .cart-item-price {
    margin-bottom: 0;
    font-size: 0.75rem;
    color: rgb(78, 74, 74);
    margin-left: 20%;

  }
  .cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    color: rgb(134, 124, 28);
    letter-spacing: 0.2em;
    cursor: pointer;
  }
  .cart-item-amount {
    margin-bottom: 30%;
    text-align: center;
    color: grey;
    line-height: 1;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: rgb(167, 155, 50);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
  }


  .toggle-container {
    position: relative;
    margin-top: 0.75rem;
  }

  .toggle-cart {
    background: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    color: rgb(13, 13, 58);
  }
  .cart-item-count {
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    background: hsl(21, 62%, 45%);;
    width: 1.75rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }



  .cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .cart-checkout {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto
}

.show {
    display: block
}

.hide {
    display: none
}

.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s all;
  outline: 0
}

.btn_green {
  background-color: #368055;
  color: #fff;
  border: none
}

.btn_min {
  height: 50px
}